<mat-card class="add-client-card">
    <h2 class="form-title">Modifier Client</h2>
    <form #clientForm="ngForm" class="add-client-form" (submit)="updateClient(clientForm.value)">

        <mat-form-field appearance="outline" class="half-width">
            <mat-label>Nom</mat-label>
            <input matInput [(ngModel)]="data.nom" type="text" name="nom" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="half-width">
            <mat-label>Prénom</mat-label>
            <input matInput [(ngModel)]="data.prenom" type="text" name="prenom" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="half-width">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="data.email" type="text" name="email" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="half-width">
            <mat-label>Télephone</mat-label>
            <input matInput [(ngModel)]="data.tel" type="text" name="tel" />
        </mat-form-field>
      
        <button type="submit" mat-raised-button [ngStyle]="{ 'background-color': '#2ED47A', 'color': 'white' }"
            class="submit-button"
            style="grid-column: span 4; width: 150px;margin: auto;"><mat-icon>save_alt</mat-icon>Enregistrer</button>
    </form>
</mat-card>